@import '../../styles/global.scss';

.section_summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1120px;
    margin: -5rem auto 0 auto;
    justify-content: space-between;

    div{
        background-color: $shape;
        padding: 1.4rem 2rem;
        border-radius: 0.25rem;
        color: $text-title;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    strong{
        display: block;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 500;
        
    }
    .green_color{
        background-color: $green;
        color: #fff;
    }
    .red_color{
        background-color: $red;
        color: #fff;}
}