@import '../../styles/global.scss';

.header_blue{
    background: $blue;
    
    div{
        max-width: 1120px;
        margin: 0 auto;
        padding: 2rem 1rem 12rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
   
        button{
            font-size: 1rem;
            color: #fff;
            background-color: $blue-light;
            padding: 0.75rem 2rem;
            border: 0;
            border-radius: 0.25rem;
            
            &:hover{
                filter: brightness(0.9);
                transition: 0.2s;
            }
        }
    }
}